# Azure
tenant_id="fffgd708-7da0-4cea-abeb-0a4c334d232f"
client_secret="qme8Q~7JLj5vktm0crpsdsdfJJsdfdsf35sSPxdoMkaNW"
client_id="0e774c34-1234-46ce-d5gg-72d930c777cf"
subscription_id="sdfdsfdf-f95f-1234-bbb5-529d4c76659c"
resource_group="sandbox"

# Jira
project_key="<Project Key>"