# Azure
tenant_id="fffgd708-wxyz-1234-abcd-0a4c334d232f"
client_secret="abcdef1234567ghijkl890dfJJsdfdsf35sSPxdoMkaNW"
client_id="0e774c34-1234-4321-5678-72d930c777cf"
subscription_id="sdfdsfdf-wxyz-1234-bbbb-529d4c76659c"
resource_group="sandbox"
# Zendesk token
api_token="my-token"
subdomain="my-subdomain"
user_email="my@email.here"
