# Required
subscription_id="sdfdsfdf-wxyz-1234-bbbb-529d4c76659c"
resource_group="sandbox"

# Optional
# azure_cred = "non_default_cred"
# zendesk_cred = "non_default_cred"
# tags_query = "[?tags.environment=='development' || tags.environment=='dev'].name"