# Required
aws_region       = "us-east-1"
team_id          = "111aaa00-abcd-efgh-1234-000aaa111bbb"
teams_channel_id = "20-9234-20392-2913"

# Optional
# aws_conn   = connection.aws.default
# teams_conn = "non_default_conn"
